{% load static %}

<nav class="navbar navbar-expand-lg bg-light small border-bottom shadow-sm fixed-top custom-nav">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand">
            <span class="brand-style brand-gradient">Space Share</span>
        </a>
        <button type="button" 
                class="navbar-toggler" 
                data-bs-toggle="collapse" 
                data-bs-target="#blog-navbar" 
                aria-controls="blog-navbar"
                aria-expanded="false"
                aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="blog-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{% url 'posts' %}" class="nav-link text-dark">Discover</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'authors' %}" class="nav-link text-dark">Authors</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about_us' %}" class="nav-link text-dark">About Us</a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="{% url 'posts_by_search' %}" method="GET">
                <div class="input-group">
                    <input type="search" name="search" class="form-control from-control-sm" placeholder="Search for..." required>
                    <button type="submit" class="btn btn-sm btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </form>
            {% if request.session.nickname %}
                <a href="{% url 'settings' %}" class="btn btn-secondary mt-2 mt-lg-0 ms-lg-2 p-0">
                    <img src="{{ request.session.image }}" alt="Profile" class="nav-settings rounded">
                </a>
                <a href="{% url 'logout' %}" class="btn btn-danger mt-2 mt-lg-0 ms-lg-2">
                    Log out
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-success mt-2 mt-lg-0 ms-lg-2">
                    Login In
                </a>
            {% endif %}
        </div>
    </div>
</nav>