{% extends 'Blog/base_blog.html' %}

{% block doc_title %}
    Space Share - 404
{% endblock %}

{% block blog_content %}
    <div class="container-fluid position-fixed top-0 start-0 w-100 h-100 text-center">
        <div class="row align-items-center justify-content-center h-100">
            <div class="container">
                <h1>Upss...</h1>
                <h2 class="fw-bolder"><span class="text-danger">404</span> NOT FOUND</h2>
                <h3 class="lead">We could not find what you are looking for...</h3>
            </div>
        </div>
    </div>
{% endblock %}