:root {
    --sky: #4cc9f0;
    --far-space: #f72585;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    z-index: 11;
}

.navbar-toggler:hover {
    box-shadow: 0px 0px 0px 1px royalblue !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link:hover {
    color: darkgray !important;
}

.form-control:focus {
    border-color: royalblue;
    box-shadow: none;
}

.custom-nav {
    --bs-bg-opacity: .9;
    backdrop-filter: blur(8px);
}

.brand-gradient {
    background: var(--light);
    background: -webkit-linear-gradient(to top, var(--sky), var(--far-space));
    background: linear-gradient(to top, var(--sky), var(--far-space));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-settings {
    max-width: 54px;
    height: 36px;
}

.banner-holder {
    background-size: cover;
    background-position: bottom;
    text-shadow: 1px 1px black;
}

.main-footer {
    z-index: 10;
}

.text-shadow {
    text-shadow: 1px 1px black;
}

.errorlist {
    color: #dc3545;
    font-weight: bold;
    text-shadow: 1px 1px transparent;
}