{% extends 'Blog/base_blog.html' %}
{% load static %}

{% block doc_title %}
    Space Share - Authors
{% endblock %}

{% block doc_css %}
    <link rel="stylesheet" href="{% static 'Blog/css/authors.css' %}">
    <style>
        .banner-holder {
            background-image: url("{% static 'Blog/images/authors.jpg' %}");
            background-position: center;
        }
    </style>
{% endblock %}

{% block blog_content %}
    <header class="banner-holder py-5 mb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="banner-content text-center text-white my-5 py-5">
                        <h1 class="fw-bolder">Authors</h1>
                        <p class="lead">Get to know our authors and their work!</p>
                        <a class="btn btn-primary btn-lg" href="#scroll-target">Want to become an author?</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="author-loop py-3 mb-3">
        <div class="container">
            <div class="row">
                {% for author in authors %}
                    <div class="col-md-3 mb-4">
                        <div class="card shadow-sm bm-3 h-100">
                            <div class="card-header p-0">
                                <img src="{{ author.image.url }}" alt="Author image" class="card-img-top img-fluid">
                            </div>
                            <div class="card-body">
                                <h3 class="fs-5">{{ author.name }} {{ author.surname }}</h3>
                                <p class="small fw-light">{{ author.description|truncatechars:75|cut:'&emsp; '|cut:'&nbsp; '|cut:'&ensp; ' }}</p>
                            </div>
                            <a href="{% url 'author' author.slug %}" class="link-light">
                                <div class="card-footer bg-info">Read more...</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="lead text-center" id="scroll-target">If you want to create articles send your CV at our e-mail <a href="mailto:">authors@spaceshare.com</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}