{% extends 'Blog/base_blog.html' %}
{% load static %}

{% block doc_title %}
    Space Share - Posts by {{ author_name }} {{ author_surname }}
{% endblock %}

{% block doc_css %}
    <style>
        .banner-holder {
            background-image: url("{% static 'Blog/images/posts.jpg' %}");
            background-position: center;
        }
    </style>
{% endblock %}

{% block blog_content %}
    <header class="banner-holder py-5 mb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="banner-content text-white my-5 py-5">
                        <p class="lead">Discover all posts created by</p>
                        <h2 class="fw-bolder">{{ author_name }} {{ author_surname }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="post-loop py-3 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% include "Blog/includes/posts_loop.html" %}
                </div>
                <div class="col-md-4">
                    <ul class="list-group small mb-3">
                        <li class="list-group-item active"><strong>Categories</strong></li>
                        {% for tag in tags %}
                            <a href="{% url 'author_posts_by_tag' slug=author_slug str=tag.tag %}" class="text-decoration-none text-dark">
                                <li class="list-group-item list-group-item-action {% if tag.tag == active_tag %} list-group-item-primary {% endif %}">
                                    {{ tag.tag }}
                                </li>
                            </a>
                        {% endfor %}
                        <a href="{% url 'author_posts' slug=author_slug %}" class="text-decoration-none text-center">
                            <li class="list-group-item list-group-item-action list-group-item-primary">
                                Reset
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}