{% extends 'Blog/base_blog.html' %}
{% load static %}

{% block doc_title %}
    Space Share
{% endblock %}

{% block doc_css %}
    <link rel="stylesheet" href="{% static 'Blog/css/index.css' %}">
    <style>
        .banner-holder {
            background-image: url("{% static 'Blog/images/index.jpg' %}");
        }
    </style>
{% endblock %}

{% block blog_content %}
    <section class="banner-holder py-5 mb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="banner-content text-center text-white my-5 py-4">
                        <h1 class="fw-bolder">Space Share</h1>
                        <p class="lead">Welcome to the Space Share blog, which is devoted to the subject of space exploration and discovering new knowledge!</p>
                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#subscribe-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-plus-fill" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
                                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
                            </svg>
                            Subscribe for newsletters
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="subscribe-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-bg-primary">
                        <h5 class="modal-title">Subscribe for newsletters</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'index' %}" method="POST">
                            {% csrf_token %}
                            <div class="row gx-2">
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        {{ form.name }}
                                    </div>
                                    {{ form.name.errors }}
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        {{ form.surname }}
                                    </div>
                                    {{ form.surname.errors }}
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        {{ form.email }}
                                    </div>
                                    {{ form.email.errors }}
                                </div>
                                <div class="col-md-12">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-success btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-plus-fill" viewBox="0 0 16 16">
                                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
                                                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
                                            </svg>
                                            Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </section>
    <section class="home-posts py-4">
        <div class="container">
            <h4 class="mb-4">Latest 4 articles...</h4>
            <div class="row g-3">
                {% for post in posts %}
                <div class="col-md-3">
                    <div class="card shadow-sm bm-3 h-100">
                        <img src="{{ post.image.url }}" alt="Post image" class="card-img-top card-size">
                        <div class="card-body">
                            <h3 class="fs-5">{{ post.title }}</h3>
                            <p class="small fw-light mb-5">{{ post.content|truncatechars:75|cut:'&emsp; '|cut:'&nbsp; '|cut:'&ensp; ' }}</p>
                            <a href="{% url 'post' post.slug %}" class="position-absolute bottom-0 my-3 btn btn-sm btn-warning rounded-pill shadow-sm">Read more...</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block doc_js %}
    {% if form.errors %}
        <script src="{% static 'Blog/js/index.js' %}"></script>
    {% endif %}
{% endblock %}