{% extends 'Blog/base_blog.html' %}
{% load static %}

{% block doc_title %}
    Space Share - Newsletter
{% endblock %}

{% block blog_content %}
    <div class="container-fluid position-fixed top-0 start-0 w-100 h-100 text-center">
        <div class="row align-items-center justify-content-center h-100">
            <div class="container">
                <h1 class="text-success">Congratulations</h1>
                <h2 class="fw-bolder">You have been subscribed to the newsletter!</h2>
                <h3 class="lead">A message confirming the subscription to the newsletter has been sent to the e-mail address provided by you.</h3>
                <a href="{% url 'index' %}" class="link-primary text-decoration-none">Go to main page...</a>
            </div>
        </div>
    </div>
{% endblock %}