{% extends 'Blog/base_blog.html' %}
{% load static %}

{% block doc_title %}
    Space Share - Search
{% endblock %}

{% block doc_css %}
    <style>
        .banner-holder {
            background-image: url("{% static 'Blog/images/posts_search.jpg' %}");
            background-position: center 75%;
        }
    </style>
{% endblock %}

{% block blog_content %}
    <header class="banner-holder py-5 mb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="banner-content text-center text-white my-5 py-5">
                        <p class="lead">Discover all posts by your search!</p>
                        <h1 class="fw-bolder">Your are looking for <span class="text-warning">{{ search|upper }}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="post-loop py-3 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% include "Blog/includes/posts_loop.html" %}
                </div>
                <div class="col-md-4">
                    <div class="card text-bg-primary mb-3">
                        <div class="card-body text-center">
                            <h3 class="fs-4">Isn't that what you're looking for?</h3>
                            <a href="{% url 'posts' %}" class="btn btn-warning text-decoration-none w-100 py-3 mt-3">Check ALL posts here!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}