{% extends 'Blog/base_blog.html' %}
{% load static %}

{% block doc_title %}
    Space Share - {{ title }}
{% endblock %}

{% block doc_css %}
    <link rel="stylesheet" href="{% static 'Blog/css/posts.css' %}">
    <style>
        .banner-holder {
            background-image: url("{% static 'Blog/images/posts.jpg' %}");
            background-position: center;
        }
    </style>
{% endblock %}

{% block blog_content %}
    <header class="banner-holder py-5 mb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="banner-content text-center text-white my-5 py-5">
                        <h1 class="fw-bolder">Posts</h1>
                        <p class="lead">Discover all posts and find your favorite articles!</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="post-loop py-3 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% include "Blog/includes/posts_loop.html" %}
                </div>
                <div class="col-md-4">
                    <div class="card text-bg-primary mb-3">
                        <div class="card-body">
                            <h3 class="fs-4">Subscribe for newsletters</h3>
                            <p>Subscribe the Space Share blog for space exploration and discovering new knowledge!</p>
                            {% if active_tag == None %} 
                                <form action="{% url 'posts' %}" method="POST">
                            {% else %}
                                <form action="{% url 'posts_by_tag' active_tag %}" method="POST">
                            {% endif %}
                                    {% csrf_token %}
                                    <div class="row gx-2">
                                        <div class="col-12 col-lg-6">
                                            <div class="mb-2">
                                                {{ form.name }}
                                            </div>
                                            {{ form.name.errors }}
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="mb-2">
                                                {{ form.surname }}
                                            </div>
                                            {{ form.surname.errors }}
                                        </div>
                                        <div class="col-12 col-md-12">
                                            <div class="mb-2">
                                                {{ form.email }}
                                            </div>
                                            {{ form.email.errors }}
                                        </div>
                                        <div class="col-12 col-md-12">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-success btn-sm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-plus-fill" viewBox="0 0 16 16">
                                                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
                                                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
                                                    </svg>
                                                    Subscribe</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                    <ul class="list-group small mb-3">
                        <li class="list-group-item active text-center"><strong>Categories</strong></li>
                        {% for tag in tags %}
                            <a href="{% url 'posts_by_tag' tag.tag %}" class="text-decoration-none text-dark">
                                <li class="list-group-item list-group-item-action {% if tag.tag == active_tag %} list-group-item-primary {% endif %}">
                                    {{ tag.tag }}
                                </li>
                            </a>
                        {% endfor %}
                        <a href="{% url 'posts' %}" class="text-decoration-none text-center">
                            <li class="list-group-item list-group-item-action list-group-item-primary">
                                Reset
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}