{% extends 'Blog/base_blog.html' %}
{% load static %}

{% block doc_title %}
    Space Share - Register Success
{% endblock %}

{% block doc_css %}
    <link rel="stylesheet" href="{% static 'Blog/css/login_register.css' %}">
    <style>
        .bg-login-register {
            background-image: url("{% static 'Blog/images/login_register.jpg' %}");
        }
    </style>
{% endblock %}

{% block blog_content %}
    <div class="bg-login-register"></div>
    <div class="container py-5 my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg mt-5 text-center">
                    <div class="card-header bg-success text-bg-success h1">
                        Registration Successful
                    </div>
                    <div class="card-body">
                        <div class="mb-2">A link to confirm your account has been sent to your email address.</div>
                        <a href="{% url 'login' %}" class="link-primary text-decoration-none">Go to login page...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}