.bg-login-register {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}