#modal-image-click {
    cursor: pointer;
}

#modal-image-id {
    display: none;
    overflow: hidden;
    z-index: 12;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#modal-image-img {
    width: 100%;
    animation-name: modal-zoom;
    animation-duration: 0.6s;
}

@media only screen and (min-width: 992px) {
    #modal-image-img {
        width: 75%;
    }
}

@keyframes modal-zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}